/* font-family: "UbuntuMedium"; */
@font-face {
    font-family: "UbuntuMedium";
    src: url("../fonts/UbuntuMedium/UbuntuMedium.eot");
    src: url("../fonts/UbuntuMedium/UbuntuMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuMedium/UbuntuMedium.woff") format("woff"),
    url("../fonts/UbuntuMedium/UbuntuMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "UbuntuLight"; */
@font-face {
    font-family: "UbuntuLight";
    src: url("../fonts/UbuntuLight/UbuntuLight.eot");
    src: url("../fonts/UbuntuLight/UbuntuLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuLight/UbuntuLight.woff") format("woff"),
    url("../fonts/UbuntuLight/UbuntuLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "UbuntuCondensedRegular"; */
@font-face {
    font-family: "UbuntuCondensedRegular";
    src: url("../fonts/UbuntuCondensedRegular/UbuntuCondensedRegular.eot");
    src: url("../fonts/UbuntuCondensedRegular/UbuntuCondensedRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuCondensedRegular/UbuntuCondensedRegular.woff") format("woff"),
    url("../fonts/UbuntuCondensedRegular/UbuntuCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}